html, body {
    font-size: 2vw;
}

@media only screen and (max-width: 768px) {
  html, body {
    font-size: 4vw;
  }
}

a {color: inherit !important}
a:hover {text-decoration: none;}

a.btn-dark {color: white !important;}

.btn-client-primary, .btn-client-primary-no-hover {
  background-color: #e7001a !important;
  color: white !important;
  border: solid 1px #e7001a !important;
}
.btn-client-primary:hover  {
  background-color: white !important;
  color: #e7001a !important;
}
.btn-client-primary-no-hover:hover  {
  background-color: #e7001a !important;
  color: white !important;
  border: solid 1px #e7001a !important;
}


.btn-client-outline-primary {
  background-color: white !important;
  color: #e7001a !important;
  border: solid 1px #e7001a !important;
}
.btn-client-outline-primary:hover, .btn-client-outline-primary:focus  {
  background-color: #e7001a !important;
  color: white !important;
}



.btn-client-secondary {
  background-color: white !important;
  color: #555 !important;
  border: solid 1px #555 !important;
}
.btn-client-secondary:hover  {
  background-color: #ECECFF !important;
}

.btn-client-secondary-inverse {
  background-color: #555 !important;
  color: white !important;
  border: solid 1px #555 !important;
}
.btn-client-secondary-inverse:hover  {
  background-color: white !important;
  color: #555 !important;
}


.color-white {color: white !important;}
.color-red {color: red !important;}
.color-orange {color: orange !important;}
.color-green {color: green !important;}
.color-silver {color: silver !important;}
.color-555 {color: #555 !important;}
.color-777 {color: #777 !important;}
.color-aaa {color: #aaa !important;}

.hover-white:hover {color: white !important;}
.hover-red:hover {color: red !important;}
.hover-orange:hover {color: orange !important;}
.hover-green:hover {color: green !important;}
.hover-silver:hover {color: silver !important;}
.hover-555:hover {color: #555 !important;}
.hover-777:hover {color: #777 !important;}
.hover-aaa:hover {color: #aaa !important;}

.bg-777 {background-color: #777 !important;}
.bg-555 {background-color: #555 !important;}
.bg-333 {background-color: #333 !important;}

.pointer-events-none {pointer-events: none !important;}

.statut {background-color: #eee; padding: 26px; text-align: center; border-radius: 5px; width: 240px;}

.sd-title {
  text-align: center;
  text-transform: uppercase;
}

.top-bar {
  display: flex;
  background-color: white;
  color: #e7001a !important;
  border: solid 1px silver;
  border-radius: 10px;
}

.overflow-hidden {overflow: hidden;}

a[disabled] {
  pointer-events: none;
}

.font-size-0dot5em { font-size: 0.5em; }
.font-size-1em { font-size: 1em; }

.font-size-3vw { font-size: 3vw; }
.text-8px { font-size: 8px; }
.text-12px { font-size: 12px; }

.monospace {
  font-family: monospace;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.flex-1 {flex: 1;}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
}

* {
  box-sizing: inherit;
}

section {
  height: 100%;
}

footer {
  padding: 5px;
  border-top: solid 1px #eee;
  color: silver;
}

.border-top-none {border-top: none !important;}


